.formClass{

    padding-top: 10%;
    width: 50%;
    margin-left: 25%;
   
}

/* .container{
  text-align: center;
  justify-content: center;
  align-items: center;
} */

.viewP{
  margin-top: 5%;
  /* top: 10%; */
}